NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=marketing-mail-generator.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=marketing-mail-generator
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=marketing-mail-generator.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=974233950009
NEXT_PUBLIC_FIREBASE_APP_ID=1:974233950009:web:75bbffb7465a269bf8bae8
