GOOGLE_CLOUD_PROJECT=marketing-mail-generator
VERTEX_AI_LOCATION=global
FIREBASE_PROJECT_ID=marketing-mail-generator
FRONTEND_ORIGIN=http://localhost:3000

GOOGLE_GENAI_USE_VERTEXAI=true
GOOGLE_CLOUD_LOCATION=global
